extends layout

block content
  div
    if !user
      div ì‚¬ì¥ë‹˜, ë¡œê·¸ì¸í•´ì£¼ì„¸ìš”!
      a(href="/login") ë°°ë¯¼ì‚¬ì¥ë‹˜ê´‘ì¥ ë¡œê·¸ì¸
      div
        a(href="#") ì•„ì´ë””/ë¹„ë°€ë²ˆí˜¸ ì°¾ê¸°
        | |
        a(href="/register") íšŒì›ê°€ì…
    else
      div #{user.id}ë‹˜, ì•ˆë…•í•˜ì„¸ìš”.