extends layout

block content
  h1= "íšŒì›ê°€ì…í˜ì´ì§€"
  input(type="button", value="test",id="testButton", onclick="test()")

  form(action='/api/register', id="registerForm", method='POST').centered_layout.flex_stretch
    div.guide_label
      | í•„ìˆ˜ ì •ë³´ë¥¼ ì…ë ¥í•´ì£¼ì„¸ìš”.
    div
      input.input(id="input_id", type="text", name="id", placeholder="ì•„ì´ë””*(4~20ì)", required)
    div
      label.description_label(for="input_id", id="input_id_label")
    div
      input.input(id="input_password", type="password", name="password", placeholder="ë¹„ë°€ë²ˆí˜¸*(ì˜ë¬¸+ìˆ«ì, 8~20ì)", required)
    div
      label.description_label(for="input_password", id="input_password_label")
    div
      input.input(id="input_password_check", type="password", name="password_check", placeholder="ë¹„ë°€ë²ˆí˜¸ ì¬í™•ì¸*", required)
    div
      label.description_label(for="input_password_check" id="input_password_check_label")
    div.flex_row
      input.input(id="input_email_username" type="text", name="email_username", placeholder="ì´ë©”ì¼ ì•ìë¦¬*", required)
      | @
      input.input(id="input_email_provider" type="text", name="email_provider", placeholder="ì´ë©”ì¼ ë’ºìë¦¬*", required)
    div
      label(for="input_email_username" id="input_email_label")
    div
      select.input(id="select_email_provider")
        option(value="") ì§ì ‘ ì…ë ¥
        option(value="naver.com") naver.com
        option(value="gmail.com") gmail.com
    div
      input.input(id="input_name" type="text", name="name", placeholder="ì´ë¦„*", required)
    div
      label(id="input_name_label" for="input_name")
    div.flex_row
      input.input.input_notrow(id="input_phone" type="text", name="phone", placeholder="íœ´ëŒ€í°*", required)
      button.button.margin-left10(type="button") ì¸ì¦ë°›ê¸°
    div
      label(for="input_phone" id="input_phone_label")
    div.flex_row
      input.input.input_notrow(type="text", placeholder="ì¸ì¦ë²ˆí˜¸ 6ìë¦¬ ì…ë ¥", id="phone_check")
      button.button.margin-left10(type="button") í™•ì¸
    div
      label(for="phone_auth_label" id="input_password_label")
    div
      input(type="checkbox", id="optionalInfoCheck", onclick="activeAddressButton(this)")
      | ì„ íƒ ì •ë³´ë¥¼ ì…ë ¥í•˜ì‹œê² ì–´ìš”? 
      a(href="/register") ë‚´ìš©ë³´ê¸°
    div.flex_row
      input.input(type="text", id="postNumber", name="postNumber",placeholder="ìš°í¸ë²ˆí˜¸", disabled, onclick="onAddressModal()")
      input.input(type="button", id="findAddressButton", value="ì£¼ì†Œì°¾ê¸°", disabled, onclick="onAddressModal()")
    div
      input.input(type="text", id="address", name="address", placeholder="ì£¼ì†Œ",disabled, onclick="onAddressModal()")
    div
      input.input(type="text", id="detail", name="detail", placeholder="ìƒì„¸ ì£¼ì†Œ",disabled, onclick="onAddressModal()")
    div(id="overlay", onclick="offAddressModal()")
      div(id="overlay-wrapper", onclick="stopPropagation(event)")
        div(id="overlay-wrapper-header")
          h1 ì£¼ì†Œê²€ìƒ‰
          input(type="button", value="X", onclick="offAddressModal()")
        div(id="overlay-wrapper-contents")
          div(id="overlay-wrapper-contents-search") 
            input(type="text", id="addressSearchInput", placeholder="ì˜ˆ) íŒêµì—­ë¡œ 235, ë¶„ë‹¹ ì£¼ê³µ, ì‚¼í‰ë™ 681")
          div(id="overlay-wrapper-contents-search")
            h3 tip
            p ì•„ë˜ì™€ ê°™ì€ ì¡°í•©ìœ¼ë¡œ ê²€ìƒ‰í•˜ì‹œë©´ ë”ìš± ì •í™•í•œ ê²°ê³¼ê°€ ê²€ìƒ‰ë©ë‹ˆë‹¤.
            p ë„ë¡œë©´ + ê±´ë¬¼ë²ˆí˜¸
            p ì˜ˆ) íŒêµì—­ë¡œ 235, ì œì£¼ ì²¨ë‹¨ë¡œ 242
            p ì§€ì—­ëª…(ë™/ë¦¬) + ë²ˆì§€
            p ì˜ˆ) ì‚¼í‰ë™ 681, ì œì£¼ ì˜í‰ë™ 2181
            p ì§€ì—­ëª…(ë™/ë¦¬) + ê±´ë¬¼ëª…(ì•„íŒŒíŠ¸ëª…)
            p ì˜ˆ) ë¶„ë‹¹ ì£¼ê³µ, ì—°ìˆ˜ë™ ì£¼ê³µ3ì°¨
            p ì‚¬ì„œí•¨ëª… + ë²ˆí˜¸
            p ì˜ˆ) ë¶„ë‹¹ìš°ì²´êµ­ì‚¬ì„œí•¨ 1~100
        div(id="overlay-wrapper-footer")

    div
      input(type="checkbox", id="allowAll", onclick="allowAllCheck(this)")
      | ì „ì²´ ì•½ê´€ì— ë™ì˜í•©ë‹ˆë‹¤ 
    div  
      input(type="checkbox", id="agreeEssential", name="agreeEssential", onclick="checkEssential(this)")
      | í•„ìˆ˜ í•­ëª©ì— ë™ì˜í•©ë‹ˆë‹¤
    div
      a(href="/register") ë°°ë¯¼ì‚¬ì¥ë‹˜ê´‘ì¥ ì´ìš©ì•½ê´€
      |
      a(href="/register") ê°œì¸ì •ë³´ ìˆ˜ì§‘ì´ìš© ë™ì˜
    div
      input(type="checkbox", id="agreeAdvertisement", name="agreeAdvertisement", onclick="checkAdvertisement(this)")
      | ê´‘ê³ ì„± ì •ë³´ ìˆ˜ì‹  ë™ì˜ (ì„ íƒ) 
    div 
      a ë§Œ 14ì„¸ ì´ìƒ íšŒì›ë§Œ ê°€ì… ê°€ëŠ¥í•©ë‹ˆë‹¤.
      |
      a(href="/register") ë‚´ìš©ë³´ê¸°

    input.button.submit_button(type='submit', value='ê°€ì…ì™„ë£Œ') 
  
  script(src="/javascripts/validations.js")
  script(src="/javascripts/register.js")

  script(src="/javascripts/test.js")